# Laravel
backend/vendor/
backend/node_modules/
backend/public/storage
backend/public/hot
backend/storage/*.key
backend/.env
backend/.env.backup
backend/.phpunit.result.cache
backend/docker-compose.override.yml
backend/homestead.json
backend/homestead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet/
backend/.idea/
backend/.vscode/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/ios/.generated/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Flutter/Flutter.podspec
mobile/ios/ServiceDefinitions.json
mobile/ios/Runner/GeneratedPluginRegistrant.h
mobile/ios/Runner/GeneratedPluginRegistrant.m
mobile/android/local.properties
mobile/android/key.properties
mobile/android/app/src/main/res/values/ids.xml
mobile/android/.gradle/
mobile/windows/flutter/generated_config.cc
mobile/windows/flutter/generated_config.h
mobile/linux/flutter/generated_config.cc
mobile/linux/flutter/generated_config.h
mobile/macos/Flutter/GeneratedConfig.xcconfig

# Generic
*.log
.DS_Store
.history
composer.phar
